<%= form_with model: student do |form| %>
  <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden">
    <div class="p-6">
      <div class="m-4">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, class: 'form-input' %>
        <% @student.errors.full_messages_for(:name).each do |message| %>
          <div class="text-red-500"><%= message %></div>
        <% end %>
      </div>
      <div class="m-4">
        <%= form.label :about, class: 'form-label' %>
        <%= form.text_field :about, class: 'form-input' %>
        <% @student.errors.full_messages_for(:about).each do |message| %>
          <div class="text-red-500"><%= message %></div>
        <% end %>
      </div>
      <div class="m-4">
        <%= form.label :school_id, class: 'form-label' %>
        <%= form.collection_select :school_id, School.all, :id, :name, { prompt: "Select School" }, class: 'form-input' %>
      </div>
      <div class="m-4">
        <%= form.button class: 'btn-submit' %>
      </div>
    </div>
  </div>
<% end %>
