<h1 class="font-bold text-4xl">Student</h1>

<table class="mt-10" style="width:100%">
  <thead>
    <tr>
      <th><%= sort_link_to "ID", :id, data: {turbo_action: "advance"}%></th>
      <th><%= sort_link_to "Name", :name, data: {turbo_action: "advance"}%></th>
      <th><%= sort_link_to "About", :about, data: {turbo_action: "advance"}%></th>
      <th><%= sort_link_to "School", :school_id, data: {turbo_action: "advance"}%></th>
      <th>Action</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.id %></td>
        <td><%= student.name %></td>
        <td><%= student.about %></td>
        <td><%= student.school&.name %></td>
        <td class="italic"><%= link_to 'Delete', student, method: :delete, data:{
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
      } %></td>
          <td class="italic"><%= link_to 'Show', student_path(student) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagy-container">
  <div class="my-16 flex justify-between">
    <div><%== pagy_info(@pagy) %></div>
    <div><%== pagy_nav(@pagy) %></div>
  </div>
</div>