<h1 class="font-bold text-4xl">Registered User</h1>

<table class="mt-10" style="width:100%">
  <thead>
    <tr>
      <th><%= sort_link_to "Name", :name, data: {turbo_action: "advance"}%></th>
      <th><%= sort_link_to "Email", :email, data: {turbo_action: "advance"}%></th>
      <th><%= sort_link_to "Role", :role, data: {turbo_action: "advance"}%></th>
      <th>Action</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td class="italic"><%= link_to 'Delete', user, method: :delete, data:{
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
      } %></td>
      <td class="italic"><%= link_to 'Show', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagy-container">
  <div class="my-16 flex justify-between">
    <div><%== pagy_info(@pagy) %></div>
    <div><%== pagy_nav(@pagy) %></div>
  </div>
</div>
