<h1 class="font-bold text-4xl">Payment</h1>

<table class="mt-10" style="width:100%">
  <thead>
    <tr>
      <th><%= sort_link_to "Order Number", :order_number, data: {turbo_action: "advance"}%></th>
      <th><%= sort_link_to "Name", :buyer_name, data: {turbo_action: "advance"}%></th>
      <th><%= sort_link_to "Email", :buyer_email, data: {turbo_action: "advance"}%></th>
      <th><%= sort_link_to "Phone", :buyer_phone, data: {turbo_action: "advance"}%></th>
      <th><%= sort_link_to "Total", :transaction_amount, data: {turbo_action: "advance"}%></th>
      <th><%= sort_link_to "Status", :payment_status, data: {turbo_action: "advance"}%></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.order_number %></td>
        <td><%= payment.buyer_name %></td>
        <td><%= payment.buyer_email %></td>
        <td><%= payment.buyer_phone %></td>
        <td><%= payment.transaction_amount %></td>
        <td><%= payment.payment_status %></td>
        <%if current_user.teacher? %>
        <td class="italic"><%= link_to 'Delete', payment, method: :delete, data:{
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
      } %></td>
      <%end%>
        <td><%= link_to 'Show', payment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagy-container">
  <div class="my-16 flex justify-between">
    <div><%== pagy_info(@pagy) %></div>
    <div><%== pagy_nav(@pagy) %></div>
  </div>
</div>