<h1 class="mb-10">Payments</h1>

<table class="border border-black border-spacing-15 mt-10" style="width:100%">
  <thead>
    <tr>
      <th class="border border-black border-spacing-15">Order Number</th>
      <th class="border border-black border-spacing-15">Name</th>
      <th class="border border-black border-spacing-15">Email</th>
      <th class="border border-black border-spacing-15">Phone</th>
      <th class="border border-black border-spacing-15">Total</th>
      <th class="border border-black border-spacing-15">Status</th>
      <th class="border border-black border-spacing-15">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td class="border border-black border-spacing-15"><%= payment.order_number %></td>
        <td class="border border-black border-spacing-15"><%= payment.buyer_name %></td>
        <td class="border border-black border-spacing-15"><%= payment.buyer_email %></td>
        <td class="border border-black border-spacing-15"><%= payment.buyer_phone %></td>
        <td class="border border-black border-spacing-15"><%= payment.transaction_amount %></td>
        <td class="border border-black border-spacing-15"><%= payment.payment_status %></td>
        <%if current_user.teacher? %>
        <td class="border border-black border-spacing-15 italic"><%= link_to 'Delete', payment, method: :delete, data:{
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
      } %></td>
      <%end%>
        <td class="border border-black border-spacing-15"><%= link_to 'Show', payment %></td>
      </tr>
    <% end %>
  </tbody>
</table>