<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Schools</h1>
    <%if current_user.teacher?%>
    <%= link_to "New school", new_school_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%end%>
</div>

<br>
<div>
  <%= js_map [{latitude: 1.8420, longitude: 102.9344, label: "SMK Tinggi Batu Pahat"  }] %>
</div>

  <table class="border border-black border-spacing-15 mt-10" style="width:100%">
  <thead>
    <tr>
      <th class="border border-black border-spacing-15">Name</th>
      <th class="border border-black border-spacing-15">Address</th>
      <th class="border border-black border-spacing-15">City</th>
      <th class="border border-black border-spacing-15">State</th>
      <th class="border border-black border-spacing-15">Link Catalog</th>
      <%if current_user.teacher?%>
      <th class="border border-black border-spacing-15">Action</th>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td class="border border-black border-spacing-15"><%= school.name %></td>
        <td class="border border-black border-spacing-15"><%= school.address %></td>
        <td class="border border-black border-spacing-15"><%= school.city %></td>
        <td class="border border-black border-spacing-15"><%= school.state %></td>
        <td class="border border-black border-spacing-15"><%= link_to school.link, school.link %></td>
        <%if current_user.teacher?%>
        <td class="border border-black border-spacing-15 italic"><%= link_to 'Delete', school, method: :delete, data:{
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
      } %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
