<%= simple_form_for fee, local: true, data: { turbo: false } do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id, class: "form-control", readonly: true %>

  <div class="m-10">
    <%= form.label :name, class: "form-label" %><br>
    <%= form.text_field :name, class: "form-input" %>
    <% fee.errors.full_messages_for(:name).each do |message| %>
      <div class="text-red-500"><%= message %></div>
    <% end %>
  </div>

  <div class="m-10">
    <%= form.label :phone, class: "form-label" %><br>
    <%= form.text_field :phone, class: "form-input" %>
    <% fee.errors.full_messages_for(:phone).each do |message| %>
      <div class="text-red-500"><%= message %></div>
    <% end %>
  </div>

  <div class="m-10">
    <%= form.label :email, class: "form-label" %><br>
    <%= form.text_field :email, class: "form-input" %>
    <% fee.errors.full_messages_for(:email).each do |message| %>
      <div class="text-red-500"><%= message %></div>
    <% end %>
  </div>

  <div class="m-10">
    <%= form.label :total, class: "form-label" %><br>
    <%= form.number_field :total, class: "form-input" %>
    <% fee.errors.full_messages_for(:total).each do |message| %>
      <div class="text-red-500"><%= message %></div>
    <% end %>
  </div>

  <div class="m-10">
    <%= form.submit class: "btn-submit" %>
  </div>
<% end %>
