<%= simple_form_for @fee, local: true, data: { turbo: false } do |form| %>
  
  <div class="m-10">
    <%= form.label :user_id, label:"User ID", class:"form-label" %> <br>
    <%= form.input_field :user_id, value: current_user.id, class:"form-control", readonly:true %>
  </div>
  <div class="m-10">
    <%= form.label :name %><br>
    <%= form.text_field :name%>
    <% @fee.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="m-10">
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
    <% @fee.errors.full_messages_for(:phone).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="m-10">
    <%= form.label :email %><br>
    <%= form.text_field :email%>
    <% @fee.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="m-10">
    <%= form.label :total %><br>
    <%= form.number_field :total, class: 'form-control' %>
    <% @fee.errors.full_messages_for(:total).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="m-10">
    <%= form.submit %>
  </div>
<% end %>