<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Fees</h1>
    <% if current_user.role =="teacher" || current_user.role =="admin" %>
    <%= link_to 'New Fee', new_fee_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>
</div>

<table class="mt-10" style="width:100%">
  <thead>
    <tr>
      <th><%= sort_link_to "ID", :id, data: {turbo_action: "advance"}%></th>
      <th><%= sort_link_to "Name", :name, data: {turbo_action: "advance"}%></th>
      <th><%= sort_link_to "Email", :email, data: {turbo_action: "advance"}%></th>
      <th><%= sort_link_to "Phone", :phone, data: {turbo_action: "advance"}%></th>
      <th><%= sort_link_to "Total", :total, data: {turbo_action: "advance"}%></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @fees.each do |fee| %>
      <tr>
        <td><%= fee.id %></td>
        <td><%= fee.name %></td>
        <td><%= fee.email %></td>
        <td><%= fee.phone %></td>
        <td><%= fee.total %></td>
        <% if current_user.teacher? || current_user.admin? %>
        <td class="italic"><%= link_to 'Delete', fee, method: :delete, data:{
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
      } %></td>
      <% end %>
      <% if current_user.student?%>
      <% if fee.payment_succeeded %>
        <td>Payment succeeded!</td>
      <% else %>
        <td><%= link_to "Payment pending", fee %></td>
      <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagy-container">
  <div class="my-16 flex justify-between">
    <div><%== pagy_info(@pagy) %></div>
    <div><%== pagy_nav(@pagy) %></div>
  </div>
</div>