<%= simple_form_for @receipt, local: true, data: { turbo: false } do |form| %>
  <div class="m-10">
    <%= form.label :name %><br>
    <%= form.text_field :name, value: current_user.name, readonly: true %>
    <% @receipt.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="m-10">
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
    <% @receipt.errors.full_messages_for(:phone).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="m-10">
    <%= form.label :email %><br>
    <%= form.text_field :email, value: current_user.email, readonly: true %>
    <% @receipt.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="m-10">
    <%= form.label :total %><br>
    <%= form.number_field :total, class: 'form-control' %>
    <% @receipt.errors.full_messages_for(:total).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="m-10">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
