<div id="<%= dom_id @receipt %>">

    <h1>Payment Details</h1>

    <p>
        <strong>Name:</strong>
        <%= @receipt.name %>
    </p>

    <p>
        <strong>Email:</strong>
        <%= @receipt.email %>
    </p>

    <p>
        <strong>Phone Number:</strong>
        <%= @receipt.phone %>
    </p>

    <p>
        <strong>Total:</strong>
        <%= @receipt.total %>
    </p>

    <div>
        <%= link_to "Back to Receipt", receipts_path %>
    </div>

</div>